body{
  background-color: #1d2028;
  color: rgb(225, 225, 225);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}





/*
  CSS for the file App.tsx
*/
#main-title{
  font-size: 300%;
}

.nav-button{
  border: 0px;
  box-shadow: 2px 2px rgba(215, 215, 255, 0.297);
  padding: 0.5%;
  margin: 0.5%;
  min-width: 15%;
  font-size: 200%;
  cursor: pointer;
  background-color: rgb(222, 249, 255);
}

.nav-button:hover{
  color: rgb(193, 193, 193);
}





/*
  CSS for the file SubjectPage.tsx
*/
.subject-page{
  margin: -1%;
  padding: 1%;
}

.subject-title{
  font-size: 200%;
  text-decoration: underline;
}

.subject-display{
  display:flex;
}

.subject-nav{
  border: 1px solid white;
  padding: 1vw;
  margin: 1vw;
  text-align: left;
  font-size: 150%;
  min-width: 15vw;
  max-width: 15vw;
}

.subject-nav-click{
  cursor: pointer;
  margin: 2%;
}

.subject-nav-click:hover{
  color: rgb(149, 173, 195);
  text-decoration:underline;
}





/*
  CSS for Cardview
*/
.cardview{
  min-width: 75vw;
  max-width: 75vw;
  border: 1px solid aliceblue;
  padding: 1vw;
  margin: 1vw;
}

.card{
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.109);
  padding: 1%;
  margin: 1%;
  text-align: center;
  max-width: 250px;
  min-width: 250px;
  height: 250px;
  display: inline-block;
  cursor: pointer;
}

.card:hover{
  border: 1px solid rgb(69, 97, 239);
}

.card .card-img{
  min-width: 150px;
  min-height: 150px;
  max-width: 150px;
  max-height: 150px;
  margin-bottom: 10px;
}

.card .card-title{
  font-family: Arial, Helvetica, sans-serif;
  margin: 5%;
  color: hsl(0, 0%, 76%);
}





/*
  CSS for the file CommandDisplayer.tsx
*/
.command-displayer{
  font-size: 1.5em;
  background-color: rgb(58, 77, 84);
  width: 50%;
  padding-left: 5px;
}





/*
  CSS for the file ConfigDisplay.tsx
*/
.config-displayer{
  font-size: 1.5em;
  background-color: rgb(68, 70, 71);
  width: 50%;
}




/*
  CSS for the file CodeDisplay.tsx
*/
.code-displayer{
  margin: 1%;
  padding: 2%;
  background-color:rgb(79, 75, 92);
  color: white;
  font-size: 1.2em;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
}

.keyword{
  color: rgb(218, 113, 0);
}

.datatype{
  color: rgb(124, 124, 239);
}

.placeholder{
  color: aqua;
}





/*
  CSS for topic 
*/
.topic-container{
  min-width: 75vw;
  max-width: 75vw;
  border: 1px solid aliceblue;
  padding: 1vw;
  margin: 1vw;
  text-align: left;
}

.topic-title{
  font-size: 150%;
  text-decoration: underline;
}

.topic-subtitle{
  font-size: 125%;
  text-decoration: dashed underline;
  text-underline-offset: 0.5rem;
}

.topic-subsubtitle{
  font-size: 100%;
  text-decoration: dotted underline;
  text-underline-offset: 0.5rem;
}

.max-width-img{
  max-width: 100%;
}

.basic-table{
  padding: 1%;
  color:rgb(38, 110, 170);
}

.basic-th{
  border: 1px solid rgb(169, 169, 169);
  padding: 1%;
  text-align: center;
  background-color:rgb(66, 64, 64);
}

.empty-th{
  padding: 1vw;
}

.empty-td{
  background-color: #1d2028;
}

.basic-td{
  padding: 3%;
}

.basic-tr:nth-child(even){
  background-color: #f2f2f2;
}

.basic-tr:nth-child(odd){
  background-color: #aaaaaa;
}

/*
  Fix manually the width of table column
*/
.overview-type-th{
  min-width: 5vw;
}

.models-layer-th{
  min-width: 11vw;
}

.models-protocols-th{
  min-width: 10vw;
}

.hardware-fixed-th{
  min-width: 10vw;
}

.icmp-type-th{
  min-width: 5vw;
}

.icmp-desc-th{
  min-width: 15vw;
}

.dns-type-th{
  min-width: 5vw;
}

.dns-desc-th{
  min-width: 10vw;
}

.dhcp-message-th{
  min-width: 10vw;
}

.ip-subnets-th{
  min-width: 15vw;
}

.samba-th{
  min-width: 10vw;
}





/*
  CSS for Languages files
*/

.lang-container{
  display: flex;
}